challengePart2:
    stock: ["BBCA", "BBRI", "ASII", "GOTO"]
    indexMember: ""
    newRecords: ""
dataStreamer:
  path: "./resouces/data_source/subsetdata"
redis:
  host: "localhost:6379"
  password: "secret_redis"
  database: 0
  ttl: -1